@import 'variables.scss';
@import 'mixins.scss';
@import 'globals.scss';
@import '_header';
@import '_banner';
@import '_footer'; 



.banner{
    background-image:url(../../images/background_banner_home.jpg);
}


.locations{
    padding-top:6rem;
    &__grid{
        @include grid(1,2rem);
            @include tablet{
                @include grid(3,2rem);
            }
    }
}


.location{
    &__street,&__direction,&__number,&__email,&__week,&__hour {
        font-size:1.8rem;
    }
    &__direction,&__email{
        margin-bottom:1rem;
    }
}

.info{
    padding:8rem 0 6rem 0;
    &__grid{
        @include grid(1,8rem);
        @include tablet{
            padding-top:15rem;
            @include grid(2,6rem);
        }
    }
}
.info-location{
    &:nth-of-type(1){
        margin-bottom:6rem;
    }
}


.info-form {
    &__row{
        margin-bottom:2.5rem;
        &--grid{
            display:grid;
            grid-template-columns:repeat(2,1fr);
            column-gap:2rem;
            .info-form__label{
                grid-column: 1/ 2 span;
            }
        }
    }
    &__label{
        display:inline-block;
        margin-bottom:1rem;
    }
    &__input,&__textarea{
        width:100%;
        padding:1.5rem 1rem;
        border-radius:.25rem;
        outline:none;
        border:.1rem solid $lightgray;
        background-color:lighten($lightgray,31%);
    }
    &__textarea{
        resize: none;
        height:10rem;
    }
    &__desc-input{
        font-size:1.4rem;
    }
    &__submit{
        @include button($white,$black,$black);
        border:.18rem solid $black;
        padding:2.5rem 3rem;
    }
} 